name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

  build:
    needs: [lint]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checkout code
        uses: nschloe/action-cached-lfs-checkout@v1
      - name: Test with tox
        run: |
          pip install tox
          tox -- --cov matplotx --cov-report xml --cov-report term
      - name: Submit to codecov
        uses: codecov/codecov-action@v1
        if: ${{ matrix.python-version == "3.11" }}
